.backgroundImage{
  background: url('https://wallpaperaccess.com/full/436964.jpg') no-repeat center center;
  background-size: cover;
}
footer{
  background-color: #21BA45;
}
.redBackground{
  background-color: #21BA45;
}
body{
  background-color: #21BA45;
}
.image{
  width: 262px !important;
  height: 262px !important;
}
