.backgroundImage{
  background: url('https://manoa.hawaii.edu/admissions/virtual/downloads/UHMCampusCenter1.jpg') no-repeat center center;
  background-size: cover;
}
footer{
  background-color: black;
  /*#21BA45*/
}
.redBackground{
  background-color: whitesmoke;
}
body{
  background-color: whitesmoke;
}
.image{
  width: 262px !important;
  height: 262px !important;
}
.border{
  border: 1px solid black;
}
.userdiv{
  background-color: darkgreen;

}